
/* Global variables */
:root {
  --color-main: #DC0000;
  --color-light: #FF3333;
  --font-main: 'IBM Plex Sans', sans-serif;
  --font-header: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: radial-gradient(circle at 50%, var(--color-light), var(--color-main));
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--font-header);
  font-size: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
