/* Settings on React Root Element */

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Default font settings and sizing catch-all */
body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}

img,
embed,
object,
video {
  max-width: 100%;
}

/* Global variables */
:root {
  --color-main: #DC0000;
  --color-light: #FF3333;
  --font-main: 'IBM Plex Sans', sans-serif;
  --font-header: 'Raleway', sans-serif;
}

/* Setup Grid on top level div */

#top-level-container {
  display: grid;
  grid-template-columns: [col-start] 100% [col-end];
  grid-template-rows: [line-one] 80px [line-two] 60px [line-three] 1fr [line-four] 50px [line-five];
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


/* Common styling */


.App-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: radial-gradient(circle at 50%, var(--color-light), var(--color-main));
  color: #fff;
  font-family: var(--font-header);
  font-size: 2em;
}
