/* Import variables and general style */
@import 'App.css';

#menu {
  grid-column: c1 / c4;
  grid-row: r2 / r3;
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #000;
  transition-duration: 300ms;
  z-index: 3;
}

#menu.closed {
  height: 0;
}

.menu-icon {
  position: absolute;
  bottom: -15px;
  font-size: 1.7em;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 3px 8px #777;
  transition-duration: 300ms;
  cursor: pointer;
}

.menu-list {
  width: 100%;
  padding: 0.5em 0;
  margin: 0 0 0.5em 0;
  list-style: none;
  text-align: center;
  color: #fff;
  overflow-y: scroll;
  transition-duration: 300ms;
}

.menu-item {
  width: 100%;
  padding: 0.2em 0;
  margin: 0;
  cursor: pointer;
}

.menu-item:nth-of-type(2) {
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #777;
}
