/* Import variables and general style */
@import 'App.css';

#final-story {
  position: relative;
  grid-column: c1 / c2;
  grid-row: r5 / r6;
  width: 100%;
  margin: 1.2em 0;
  padding: 0 0.3em;
  box-sizing: border-box;
  z-index: 1;
}
