/* Import variables and general style */
@import 'App.css';

#form {
  position: relative;
  grid-column: c1 / c2;
  grid-row: r4 / r5;
  width: 100%;
  margin: 0;
  padding: 0 0.3em;
  box-sizing: border-box;
  z-index: 1;
}

.legend {
  color: #000;
}

.input {
  width: 100%;
  max-width: 200px;
  margin: 0.5em 0.2em;
  padding: 0.3em 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid gray;
}

#submit {
  display: block;
  width: 100px;
  margin: 0.5em 0;
  background-color: #fff;
  border: 1px dashed gray;
}
