/* Import variables and general style */
@import 'App.css';

#menu {
  position: absolute;
  left: 0;
  top: 80px;
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  width: 200px;
  background-color: #000;
  transition-duration: 300ms;
  z-index: 3;
}

.closed {
  transform: translate3d(-200px, 0, 0);
}

.menu-icon {
  position: absolute;
  right: -25px;
  top: 5px;
  font-size: 1.2em;
  color: var(--color-main);
  transform: rotate(90deg);
  transition-duration: 300ms;
}

.menu-list {
  list-style: none;
  color: #fff;
}

.menu-item {
  padding: 0.2em 0;
}

.rotate-90 {
  transform: rotate(-90deg);
}
