/* Import variables and general style */
@import 'App.css';

#story {
  position: relative;
  grid-column: c1 / c2;
  grid-row: r4 / r5;
  width: 100%;
  margin: 1.2em 0;
  padding: 0 0.3em;
  box-sizing: border-box;
  z-index: 1;
}

input {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: center;
}

span {
  display: inline;
  padding: 0;
  margin: 0;
}
