/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
  background-color: #9febe5;
  background-image: url("https://www.transparenttextures.com/patterns/white-plaster.png");
}

/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}


/* HEADER */

.form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #000;
}

.form-title {
  width: 40%;
  font-size: 1.2em;
  color: #fff;
  line-height: 25px;
}

.story-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: auto;
  margin: 50px 0 50px 0;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: 3px 3px 5px #000;
}

#story-form {
  width: 100%;
  padding: 0 0 40px 10px;
}

.legend {
  font-size: 1.6em;
}

.input {
  margin-top: 15px;
  font-size: 1.2em;
}

#submit {
  margin-top: 25px;
  font-size: 1em;
  background-color: #b0b4eb;
}

::placeholder {
  color: #b0b4eb;
}

.story {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin: auto;
}

.story-text {
  font-family: Gentium Basic;
  font-size: 1.5em;
  color: #000;
  line-height: 32px;
}

.hide {
  display: none;
}





/*
    We are the Music Makers,
    and we are the Dreamers of Dreams
*/
