/* General Style Applications  */

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif, arial;
}

/* Oversizing catch-all */

img,
embed,
object,
video {
  max-width: 100%;
}

/* Remove underline from links */

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}


/* HEADER */

.page-header {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #000;
}

.header-title {
  font-size: 3.5em;
  color: #fff;
  text-align: center;
}


/* MAIN */

.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.summary-header {
  width: 100%;
  max-width: 1000px;
  margin-top: 1em;
  background-color: #B0B4EB;
}

.story-summary-container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: 2em;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.story-summaries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  list-style-type: none;
}

.summary {
  width: 200px;
  height: 300px;
  border: 2px dashed #000;
}







/*
    We are the Music Makers,
    and we are the Dreamers of Dreams
*/
